.slider {
  padding: 40px 0;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }

  .shows {
    position: relative;
    margin: 0 20px;

    .shows-button-prev,
    .shows-button-next {
      display: inline-block;
      background-color: rgba(131, 141, 143, 0.8);
      position: absolute;
      top: 45%;
      cursor: pointer;

      @include border-radius(3px);

      padding: 8.5px 9px;
      z-index: 10;

      &.swiper-button-disabled {
        visibility: hidden;
      }

      span {
        width: 11px;
        height: 21px;
        display: block;
        background-image: url("../images/shows-arrow.png");
      }

      @include media-breakpoint-down(sm) {
        top: 43%;
      }
    }

    .shows-button-prev {
      left: -15px;

      span {
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        filter: "FlipH";
        -ms-filter: "FlipH";
      }

      @include media-breakpoint-only(md) {
        left: 0;
      }
    }

    .shows-button-next {
      right: -15px;

      @include media-breakpoint-only(md) {
        right: 0;
      }
    }

    .swiper-slide {
      .show {
        position: relative;
        min-height: 1px;
        padding: 0 20px;
        cursor: pointer;

        .title {
          color: #000;
          font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
          text-align: center;
          font-style: italic;
          font-size: 12px;
        }

        .description {
          color: #000;
          font-size: 11px;
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
          padding: 12px 0;

          &.description-desktop {
            @include media-breakpoint-down(sm) {
              display: none !important;
            }

            @include media-breakpoint-only(md) {
              display: none !important;
            }
          }

          &.description-devices {
            display: none !important;

            @include media-breakpoint-down(sm) {
              display: block !important;
            }

            @include media-breakpoint-only(md) {
              display: block !important;
            }
          }
        }

        @include media-breakpoint-up(sm) {
          float: left;
          width: 100%;
        }

        @include media-breakpoint-down(sm) {
          margin-top: 21px;
        }

        &:first-child {
          @include media-breakpoint-down(sm) {
            margin-top: 0;
          }
        }

        &:hover {
          -webkit-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;

          .title,
          .description {
            color: #838d8f;
          }

          .wrapper {
            opacity: 0.8;
          }
        }

        a {
          display: block;
          padding-top: 12px;

          img {
            display: block;
            margin: 0 auto;

            @include img-fluid;
          }

          &.wrapper {
            margin: 0 auto;

            img {
              max-height: 300px;

              @media (min-height: 1400px) {
                max-height: 400px;
              }
            }

            .swiper-lazy-preloader {
              height: 200px;

              .spinner {
                width: 6rem;
                height: 6rem;
              }
            }
          }
        }
      }

      &.swiper-slide-active::after,
      &.swiper-slide-next::after {
        display: block;
        border-right: 1px solid #eee;
        content: "_";
        color: transparent;

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    @include media-breakpoint-only(md) {
      margin: 0 10px;
    }
  }

  .more {
    text-decoration: underline;
    color: #3b3d40;
    display: block;
    margin-top: 21px;
    text-align: center;

    &:hover {
      color: #008ceb;
    }
  }
}
